html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;

    -webkit-user-select: none;
    user-select: none;
}

#DebugCanvas {
    position: absolute;
}

#MainCanvas {
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.Message {
    position: absolute;
    font-size: 1.5em;
    text-align: center;
    cursor: default;
}

.button {
    cursor: pointer;
    color: white;
}

.button:hover {
    color: black;
    background-color: white;
}

.hidden {
    display: none !important;
}

/* z-index */

#MainCanvas {
    z-index: 100;
}

#DebugCanvas {
    z-index: 50;
}

#MainMenu,
#Options,
#GameMenu,
.Message {
    z-index: 150;
}

/* Main Menu */

#MainMenu,
#Options {
    color: rgb(120, 120, 120);
    text-align: center;
    font-size: 28px;
}

#MainMenu > * {
    padding: 12px 40px;
}

.MainMenu-entrySelected {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

/* Options Menu */

#Options-back {
    width: 200px;
    margin: auto;
    text-align: center;
}

/* Game Menu */

#GameMenu {
    display: flex;
    justify-content: space-between;
    user-select: none;
    -webkit-user-select: none;
    color: white;
}

#GameMenu-right,
#GameMenu-left,
#GameMenu-selectWeapon,
#GameMenu-bulletsLeft {
    display: flex;
}

#GameMenu-right {
    align-items: flex-start;
}

#GameMenu-left {
    flex-direction: column;
}

#GameMenu-selectWeapon > *,
#GameMenu-bulletsLeft > *,
#GameMenu-right > * {
    text-align: center;
    padding: 5px 0;
    width: 100px;
}

#GameMenu-selectWeapon > * {
    cursor: pointer;

    color: white;
    font-size: 18px;
}

#GameMenu-bulletsLeft > * {
    color: rgb(120, 120, 120);
    font-size: 14px;
}

#GameMenu-selectWeapon .WeaponsSelected {
    color: black;
    background-color: white;
}

.GamePausedMessage {
    font-size: 2em;
}

/* Music Volume Range Input */

#Options-RangeInput {
    -webkit-appearance: none;
    appearance: none;
    background: white;
    opacity: 0.9;
    transition: opacity 0.2s;
    border-radius: 5px;
    width: 100%;
    height: 25px;
    margin: 10px 0;
    outline: none;
}

#Options-RangeInput:hover {
    opacity: 1;
}

#Options-RangeInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 35px;
    height: 35px;
    background: rgb(140, 185, 220);
    border-radius: 5px;
}

#Options-RangeInput::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 35px;
    height: 35px;
    background: rgb(140, 185, 220);
    border-radius: 5px;
}
