body
    {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;

    -webkit-user-select: none;
    user-select: none;
    }


#mainCanvas, #debugCanvas
    {
    position: absolute;
    }

#mainCanvas
    {
    border: 1px solid rgba(255, 255, 255, 0.2);
    }

#debugCanvas
    {
    display: none;
    }


.Message
    {
    position: absolute;
    font-size: 1.5em;
    cursor: default;
    }


.button
    {
    cursor: pointer;
    color: white;
    }


.button:hover
    {
    color: black;
    background-color: white;
    }


    /* z-index */

#mainCanvas
    {
    z-index: 100;
    }

#debugCanvas
    {
    z-index: 50;
    }

#MainMenu, #Options, #GameMenu, .Message
    {
    z-index: 150;
    }


    /* Main Menu */

#MainMenu, #Options
    {
    display: none;
    color: rgb(120, 120, 120);
    text-align: center;
    font-size: 28px;

    position: absolute;

    top: 0;
    left: 0;
    }

#MainMenu-title
    {
    color: rgb(255, 255, 255);

    font-size: 32px;
    }


#MainMenu > *
    {
    padding: 12px 40px;
    }

.MainMenu-entrySelected
    {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    }

    /* Options Menu */

#Options-back
    {
    width: 200px;
    margin: auto;
    text-align: center;
    }


    /* Game Menu */

#GameMenu
    {
    position: absolute;
    display: none;

    user-select: none;
    -webkit-user-select: none;

    color: white;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    }



#GameMenu-right, #GameMenu-left
    {
    display: inline-block;
    }


#GameMenu-right
    {
    float: right;
    }


#GameMenu-selectWeapon > *, #GameMenu-bulletsLeft > *, #GameMenu-right > *
    {
    display: inline-block;

    text-align: center;
    padding: 5px 0;
    width: 100px;
    }


#GameMenu-selectWeapon > *
    {
    cursor: pointer;

    color: white;
    font-size: 18px;
    }

#GameMenu-bulletsLeft > *
    {
    color: rgb(120, 120, 120);
    font-size: 14px;
    }


#GameMenu-selectWeapon .WeaponsSelected
    {
    color: black;
    background-color: white;
    }


